@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

@layer base {
  :root {
    /* Light Mode */
    --background: 0 0% 100%;
    --foreground: 215 25% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 25% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 17%;
    --primary: 215 25% 17%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 91% 68%;
    --secondary-foreground: 215 25% 17%;
    --muted: 216 20% 65%;
    --muted-foreground: 215 25% 17%;
    --accent: 210 20% 96%;
    --accent-foreground: 215 25% 17%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 216 20% 65%;
    --input: 216 20% 65%;
    --ring: 216 20% 65%;
    --radius: 0.5rem;
  }

  .dark {
    /* Dark Mode */
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 100%; /* White */
    --card: 0 0% 10%; /* Slightly lighter black */
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 217 91% 68%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 20%;
    --muted-foreground: 216 20% 65%;
    --accent: 0 0% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 30%; /* Light Gray */
    --input: 0 0% 85%; /* Light Gray */
    --ring: 217 91% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
